<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="green">
        <color rgba="0 0.5 0 1"></color>
    </material>

    <material name="blue">
        <color rgba="0 0 0.5 1"></color>
    </material>

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1"></color>
    </material>

    <xacro:macro name="box_inertia" params="mass length width height xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"></origin>
            <mass value="${mass}"></mass>
            <inertia ixx="${(mass/12)*(height*height + length*length)}" ixy="0" ixz="0"
                     iyy="${(mass/12)*(width*width + length*length)}" iyz="0"
                     izz="${(mass/12)*(width*width + height*height)}"></inertia>
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="mass length radius xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"></origin>
            <mass value="${mass}"></mass>
            <inertia ixx="${(mass/12)*(3*radius*radius + length*length)}" ixy="0" ixz="0"
                     iyy="${(mass/12)*(3*radius*radius + length*length)}" iyz="0"
                     izz="${(mass/2)*(radius*radius)}"></inertia>
        </inertial>
    </xacro:macro>

    <xacro:macro name="sphere_inertia" params="mass radius xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"></origin>
            <mass value="${mass}"></mass>
            <inertia ixx="${(2*mass/5)*radius*radius}" ixy="0" ixz="0"
                     iyy="${(2*mass/5)*radius*radius}" iyz="0"
                     izz="${(2*mass/5)*radius*radius}"></inertia>
        </inertial>
    </xacro:macro> 
</robot>